.slider {
    position: relative;
    border: 1px solid #000;
    border-radius: 10px;
    width: 1000px;
    height: 400px;
    background-color: #ddd;
    overflow: hidden;
}

img {
    position: absolute;
    z-index: 0;
    top: -30x;
    left: -30px;
    width: 120%;
    height: 120%;
    transition: all 1.5s ease-in;
}

img.active {
    position: absolute;
    z-index: 1;
    top: 0x;
    left: 0px;
    width: 100%;
    height: 100%;
}

                        /* side switch */

.switch_left, .switch_right {
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.switch_left {
    top: 50%;
    left: 20px;
}

.switch_right {
    top: 50%;
    right: 20px;
}

.switch_left i, .switch_right i{
    color: #fff;
    font-size: 40px;
}

                        /* switches below */

.switches_below {
    bottom: 20px;
    left: 50%;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: row;
}

.radio_button {
    margin-right: 7px;
}